@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: "Outfit", sans-serif;
}
::-webkit-scrollbar {
  width: 3px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #ecb40a;
}
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}
.send {
  border: 2px solid saddlebrown;
}

.send:hover {
  background: transparent;

  color: saddlebrown;
}
